apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: Application
      name: observability-thanos-compactor
    patch: |-
      - op: add
        path: /spec/sources/0/helm/valueFiles/-
        value: $values/apps/observability/thanos-compactor/overlays/edge-hetzner/values.yaml
