apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: Application
      name: studio-docsgpt
    patch: |-
      - op: add
        path: /spec/sources/0/helm/valueFiles/-
        value: $values/apps/studio/docsgpt/overlays/onprem/values.yaml
