apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: Application
      name: observability-kube-prometheus-stack
    patch: |-
      - op: add
        path: /spec/sources/0/helm/valueFiles/-
        value: $values/apps/observability/kube-prometheus-stack/overlays/edge-hetzner/values.yaml
