apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: Application
      name: platform-entitlements-api
    patch: |-
      - op: add
        path: /spec/sources/0/helm/valueFiles/-
        value: $values/apps/platform/entitlements-api/overlays/onprem/values.yaml
